.title {
  margin: 0;
  display: flex;
  justify-content: center;
  color: #ffffff;
  width: 60vw;
}
.hero-section {
  height: 32rem;
  background-image: url("../public/assets/images/CitySkyline.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__text {
    width: 60vw;
  }
}
.cards {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  gap: 10rem;
  width: 60vw;
}
.card {
  &-title {
    color: $color-orange;
  }
}
.hero-text {
}

.feature-text {
  color: $color-orange;
}
.services {
  background-color: $color-gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid $color-white;
  border-top: 1px solid $color-white;
  &__title {
    margin: 0;
    padding-top: 2rem;
    text-align: center;
  }
}

.service-card {
  display: grid;

  &__container {
    display: grid;
    grid-template-columns: 20vw 20vw 20vw;
    grid-template-rows: 1fr 1fr;
    gap: 2.5vw;
    width: 65vw;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  &__img {
    justify-self: center;
    height: 115px;
  }
  &__title {
    text-align: center;
    color: $color-green;
  }
  &__text {
    text-align: center;
    max-width: 15rem;
    justify-self: center;
    font-size: 12px;
  }
}

.bottom {
  height: 30rem;
  background-color: $color-light-gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  &__text {
    width: 60vw;
    margin-top: 1rem;
  }
}

.social-icons {
  &__link {
  }
  &__img {
    margin-top: 2rem;
    height: 100px;
  }
}
