.team {
  height: 100%;
  background-color: $color-gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5rem;
  &__title {
    margin: 5rem;
  }
}
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5rem;
    justify-items: center;
    width: 80vw;
    max-width: 90rem;
  }
  &__img {
    justify-content: center;
    height: 140px;
    border: 2px solid $color-white;
    border-radius: 10px;
  }
  &__email {
    font-size: 9px;
    margin-top: -2.5rem;
    color: $color-light-gray;
  }
  &__text {
    width: 20rem;
    font-size: 10px;
  }
  &__socials {
    &-img {
      height: 65px;
    }
  }
}

@media screen and (max-width: 1050px) {
  .profile {
    padding-bottom: 5rem;
    &__container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      gap: 0;
    }
  }
}

@media screen and (max-width: 680px) {
  .profile {
    &__container {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      gap: 0;
    }
  }
}
