.blockchain {
  height: auto;
  background-color: $color-gray;
  display: flex;
  justify-content: space-around;
  padding-top: 5rem;
  padding-bottom: 5rem;
  border-bottom: 1px solid $color-white;
  &__content {
    display: flex;
    width: 80vw;
    align-items: center;
  }
  &__img {
    height: 30rem;
    align-items: center;
  }

  &__text {
    width: 50vw;
  }
}

.title-green {
  margin: 0;
  color: $color-green;
}
.feature-text-green {
  color: $color-green;
}

.list {
  line-height: 1.8rem;
}

.business {
  height: auto;
  background-color: $color-gray;
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid $color-white;
  &__top {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
    &-img {
    }
  }
  &__bottom {
    display: flex;
    width: 80vw;
    align-items: center;
    &-right {
    }
    &-img {
      height: 250px;
    }
  }
  &__ul {
    padding-left: 20px;
  }
  h1 {
    margin: 0;
  }
}

.jurisdiction {
  height: auto;
  background-color: $color-dark-gray;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5rem;
  &-title {
    align-self: center;
    font-family: $font-body-bold;
    font-size: 18px;
    width: 80vw;
    color: $color-green;
  }
  &__card {
    width: 25vw;
    text-align: left;
    border-bottom: 1px solid $color-white;
    &-container {
      display: grid;
      width: 80vw;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      justify-items: center;
    }
    &-title {
      font-family: $font-body;
      font-size: 15px;
    }
  }
  &__top {
  }
}
