@font-face {
  font-family: "Dogica";
  src: url("/assets/fonts/DOGICA.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MotionControl";
  src: url("/assets/fonts/MOTIONCONTROL-BOLD.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DogicaPixelBold";
  src: url("/assets/fonts/DOGICAPIXELBOLD.woff2");
}
.top-nav {
  height: 6rem;
  background-color: #10141f;
  border-bottom: 1px solid #fcfcfc;
}
.top-nav__logo {
  display: flex;
  align-items: center;
  height: 6rem;
}
.top-nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0rem;
  padding: 0;
  padding-right: 2.5rem;
  height: 6rem;
  margin: 0;
}
.top-nav ul li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}
.top-nav ul li a {
  color: #fcfcfc;
  line-height: 6rem;
  text-decoration: none;
  font-family: "DogicaPixelBold", sans-serif;
  font-size: 15px;
}
.top-nav ul li a:hover {
  text-decoration: underline;
  color: #f9ad15;
}

.dash {
  padding: 0;
  margin: 0 !important;
}

rect {
  height: 2px;
  width: 8px;
  fill: #fcfcfc;
}

.nav-link.active {
  color: #f9ad15;
}

.nav-link-green.active {
  color: #64a443;
}

#green:hover {
  color: #64a443;
}

#logo {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: absolute;
  left: 0;
  margin-left: 2.5rem;
}
#logo-ul {
  position: absolute;
  top: 0;
  z-index: 0;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 1;
}
.menu > li {
  margin: 0 1rem;
}
.menu-button::before, .menu-button::after {
  position: absolute;
  display: block;
  width: 30px;
  height: 3px;
  background-color: #fcfcfc;
  transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
}
.menu-button {
  margin-bottom: 0;
  height: 2px;
  width: 30px;
  background-color: transparent;
  padding-top: 4px;
  padding-bottom: 6px;
  z-index: 1;
}
.menu-button-container {
  display: none;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu-button:hover .menu-button::after {
  width: 22px;
}
.menu-button::before {
  content: "";
  margin-top: -6px;
}
.menu-button::after {
  content: "";
  margin-top: 6px;
}

#menu-toggle {
  display: none;
}
#menu-toggle:checked + .menu-button-container .menu-button {
  background: transparent;
}
#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(45deg);
}
#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-45deg);
}

@media screen and (max-width: 725px) {
  .top-nav ul li {
    display: none;
  }
  .top-nav ul li a {
    padding-right: 1.5rem;
  }
  .top-nav ul {
    gap: 0;
    padding: 0;
    position: absolute;
    top: 21.3rem;
    width: 100%;
    z-index: 2;
  }
  svg {
    display: none;
  }
  .menu {
    flex-direction: column;
  }
  .menu > li {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  .menu-button-container {
    position: absolute;
    right: 0;
    margin-top: 2.5rem;
    padding-right: 1.5rem;
    display: flex;
  }
  #menu-toggle:checked ~ .menu li {
    background-color: #10141f;
    display: flex;
    border-bottom: 1px solid #fcfcfc;
    height: 6rem;
  }
  #logo {
    display: flex;
    margin-left: 0;
  }
  #top {
    margin-top: 1px;
  }
}
html {
  font-family: "Dogica", sans-serif;
  font-size: 12px;
  line-height: 26px;
  background-color: #10141f;
}

h1,
h2,
h3 {
  font-family: "MotionControl", serif;
}

h1 {
  font-size: 50px;
  line-height: 50px;
}

h2 {
  font-size: 40px;
  line-height: 40px;
}

h3 {
  font-size: 30px;
  line-height: 30px;
}

ul {
  text-align: left;
}

li {
  padding-top: 6px;
  padding-bottom: 6px;
}

.title {
  margin: 0;
  display: flex;
  justify-content: center;
  color: #ffffff;
  width: 70vw;
}

.hero-section {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.hero-section__img {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}
.hero-section__text {
  width: 70vw;
  z-index: 1;
}

.cards {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  gap: 10rem;
  width: 70vw;
}

.card-title {
  color: #f9ad15;
  font-size: 35px;
}

.hero-text {
  margin-top: 5rem;
  font-size: 14px;
}

.feature-text {
  color: #f9ad15;
}

.services {
  height: 100%;
  background-color: #10141f;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #fcfcfc;
  border-top: 1px solid #fcfcfc;
}
.services__title {
  margin: 0;
  padding-top: 5rem;
  text-align: center;
  max-width: 80vw;
}

.service-card {
  display: grid;
}
.service-card__container {
  display: grid;
  grid-template-columns: 25vw 25vw 25vw;
  grid-template-rows: 1fr 1fr;
  gap: 2.5vw;
  width: 80vw;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.service-card__img {
  justify-self: center;
  height: 115px;
}
.service-card__title {
  text-align: center;
  color: #64a443;
  align-self: flex-start;
  margin: 0;
  font-size: 35px;
}
.service-card__text {
  text-align: center;
  max-width: 20rem;
  justify-self: center;
  align-self: flex-start;
  font-size: 12px;
}

#fractionalGC {
  margin-top: 2.5rem;
}

.bottom {
  height: 100%;
  background-color: #151d28;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.bottom__text {
  width: 70vw;
  margin-top: 1rem;
}

.social-icons__img {
  margin-top: 2rem;
  height: 100px;
}

@media screen and (max-width: 860px) {
  .hero-section__img {
    height: 80rem;
  }
}
@media screen and (max-width: 725px) {
  .hero-section__img {
    height: 85rem;
  }
  .hero-section__text {
    width: 80vw;
  }
  .service-card__container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .bottom__text {
    width: 80vw;
  }
  .title {
    font-size: 40px;
    width: 80vw;
  }
  .cards {
    gap: 3.5rem;
    width: 80vw;
  }
  .card-title {
    font-size: 30px;
  }
  .card p {
    font-size: 11px;
  }
}
@media screen and (max-width: 475px) {
  .hero-section__img {
    height: 110rem;
  }
  .cards {
    flex-direction: column;
  }
}
@media screen and (max-width: 375px) {
  .hero-section__img {
    height: 120rem;
  }
  .social-icons__img {
    height: 60px;
  }
}
.blockchain {
  height: auto;
  background-color: #151d28;
  display: flex;
  justify-content: space-around;
  padding-top: 5rem;
  padding-bottom: 5rem;
  border-bottom: 1px solid #fcfcfc;
}
.blockchain__content {
  display: flex;
  width: 80vw;
  max-width: 120rem;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}
.blockchain__img {
  width: 20vw;
  max-width: 30rem;
  align-items: center;
}
.blockchain__text {
  width: 50vw;
}

.title-green {
  margin: 0;
  color: #64a443;
}

.feature-text-green {
  color: #64a443;
}

.list {
  line-height: 1.8rem;
}

.business {
  height: auto;
  background-color: #151d28;
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #fcfcfc;
}
.business__top {
  width: 80vw;
  max-width: 120rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}
.business__top-img {
  width: 80%;
  max-width: 50rem;
  height: auto;
  border: 1px solid #fcfcfc;
  margin-left: 5rem;
}
.business__bottom {
  display: flex;
  width: 80vw;
  max-width: 120rem;
  align-items: center;
  justify-content: space-between;
}
.business__bottom-img {
  width: 100%;
  max-width: 30rem;
}
.business__ul {
  padding-left: 20px;
}
.business h1 {
  margin: 0;
}

.jurisdiction {
  height: auto;
  background-color: #10141f;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5rem;
  justify-content: center;
}
.jurisdiction-title {
  align-self: center;
  font-family: "DogicaPixelBold", sans-serif;
  font-size: 18px;
  width: 80vw;
  color: #64a443;
  max-width: 120rem;
}
.jurisdiction__card {
  width: 25vw;
  text-align: left;
  border-bottom: 1px solid #fcfcfc;
  max-width: 40rem;
}
.jurisdiction__card-container {
  display: grid;
  width: 75vw;
  max-width: 120rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
}
.jurisdiction__card-title {
  font-family: "Dogica", sans-serif;
  font-size: 15px;
}
.jurisdiction ul li {
  font-size: 10px;
}

@media screen and (max-width: 900px) {
  .blockchain__content {
    flex-direction: column;
  }
  .blockchain__text {
    width: 80vw;
  }
  .blockchain__img {
    width: 20rem;
  }
  .business__top {
    flex-direction: column;
  }
  .business__top-img {
    max-width: 40rem;
    margin-left: 0;
    margin-bottom: 2.5rem;
    order: -1;
  }
  .business__bottom {
    flex-direction: column;
  }
}
@media screen and (max-width: 800px) {
  .jurisdiction {
    align-items: center;
  }
  .jurisdiction__card {
    width: 30vw;
  }
  .jurisdiction__card ul {
    padding-left: 20px;
  }
  .jurisdiction__card-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
  }
}
@media screen and (max-width: 515px) {
  .jurisdiction__card {
    width: 60vw;
  }
  .jurisdiction__card-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
.team {
  height: 100%;
  background-color: #151d28;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5rem;
}
.team__title {
  margin: 5rem;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 5rem;
  justify-items: center;
  width: 80vw;
  max-width: 90rem;
}
.profile__img {
  justify-content: center;
  height: 140px;
  border: 2px solid #fcfcfc;
  border-radius: 10px;
}
.profile__email {
  font-size: 9px;
  margin-top: -2.5rem;
  color: #819796;
}
.profile__text {
  width: 20rem;
  font-size: 10px;
}
.profile__socials-img {
  height: 65px;
}

@media screen and (max-width: 1050px) {
  .profile {
    padding-bottom: 5rem;
  }
  .profile__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0;
  }
}
@media screen and (max-width: 680px) {
  .profile__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0;
  }
}

/*# sourceMappingURL=style.css.map */
