@font-face {
  font-family: "Dogica";
  src: url("/assets/fonts/DOGICA.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MotionControl";
  src: url("/assets/fonts/MOTIONCONTROL-BOLD.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DogicaPixelBold";
  src: url("/assets/fonts/DOGICAPIXELBOLD.woff2");
}
.top-nav {
  height: 6rem;
  background-color: #10141f;
  border-bottom: 1px solid #fcfcfc;
}
.top-nav__logo {
  display: flex;
  align-items: center;
  height: 6rem;
}
.top-nav ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0;
  padding-left: 5.5rem;
  padding-right: 5.5rem;
  height: 6rem;
  margin: 0;
}
.top-nav ul li {
  display: inline-block;
}
.top-nav ul li a {
  color: white;
  line-height: 6rem;
  text-decoration: none;
  font-family: "DogicaPixelBold", sans-serif;
  font-size: 15px;
}
.top-nav ul li a:hover {
  text-decoration: underline;
}
.top-nav ul li:first-child {
  margin-right: auto;
}

@media screen and (max-width: 725px) {
  .top-nav ul li {
    display: none;
  }
  #logo {
    display: flex;
  }
}
html {
  font-family: "Dogica", sans-serif;
  font-size: 12px;
  line-height: 18px;
  background-color: blue;
}

h1,
h2,
h3 {
  font-family: "MotionControl", serif;
}

h1 {
  font-size: 50px;
  line-height: 50px;
}

h2 {
  font-size: 40px;
  line-height: 40px;
}

h3 {
  font-size: 30px;
  line-height: 30px;
}

ul {
  text-align: left;
}

li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.title {
  margin: 0;
  display: flex;
  justify-content: center;
  color: #ffffff;
  width: 70vw;
}

.hero-section {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.hero-section__img {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}
.hero-section__text {
  width: 70vw;
  z-index: 1;
}

.cards {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  gap: 10rem;
  width: 70vw;
}

.card-title {
  color: #f9ad15;
  font-size: 35px;
}

.hero-text {
  margin-top: 5rem;
  font-size: 14px;
}

.feature-text {
  color: #f9ad15;
}

.services {
  height: 100%;
  background-color: #10141f;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #fcfcfc;
  border-top: 1px solid #fcfcfc;
}
.services__title {
  margin: 0;
  padding-top: 5rem;
  text-align: center;
}

.service-card {
  display: grid;
}
.service-card__container {
  display: grid;
  grid-template-columns: 25vw 25vw 25vw;
  grid-template-rows: 1fr 1fr;
  gap: 2.5vw;
  width: 80vw;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.service-card__img {
  justify-self: center;
  height: 115px;
}
.service-card__title {
  text-align: center;
  color: #64a443;
  align-self: flex-start;
  margin: 0;
}
.service-card__text {
  text-align: center;
  max-width: 20rem;
  justify-self: center;
  align-self: flex-start;
  font-size: 12px;
}

#fractionalGC {
  margin-top: 2.5rem;
}

.bottom {
  height: 100%;
  background-color: #151d28;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.bottom__text {
  width: 70vw;
  margin-top: 1rem;
}

.social-icons__img {
  margin-top: 2rem;
  height: 100px;
}

@media screen and (max-width: 725px) {
  .hero-section__img {
    height: 100rem;
  }
  .service-card__container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
.blockchain {
  height: auto;
  background-color: #151d28;
  display: flex;
  justify-content: space-around;
  padding-top: 5rem;
  padding-bottom: 5rem;
  border-bottom: 1px solid #fcfcfc;
}
.blockchain__content {
  display: flex;
  width: 80vw;
  align-items: center;
}
.blockchain__img {
  height: 30rem;
  align-items: center;
}
.blockchain__text {
  width: 50vw;
}

.title-green {
  margin: 0;
  color: #64a443;
}

.feature-text-green {
  color: #64a443;
}

.list {
  line-height: 1.8rem;
}

.business {
  height: auto;
  background-color: #151d28;
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #fcfcfc;
}
.business__top {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}
.business__bottom {
  display: flex;
  width: 80vw;
  align-items: center;
}
.business__bottom-img {
  height: 250px;
}
.business__ul {
  padding-left: 20px;
}
.business h1 {
  margin: 0;
}

.jurisdiction {
  height: auto;
  background-color: #10141f;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5rem;
}
.jurisdiction-title {
  align-self: center;
  font-family: "DogicaPixelBold", sans-serif;
  font-size: 18px;
  width: 80vw;
  color: #64a443;
}
.jurisdiction__card {
  width: 25vw;
  text-align: left;
  border-bottom: 1px solid #fcfcfc;
}
.jurisdiction__card-container {
  display: grid;
  width: 80vw;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
}
.jurisdiction__card-title {
  font-family: "Dogica", sans-serif;
  font-size: 15px;
}
.team {
  height: 100%;
  background-color: #151d28;
  display: flex;
  justify-content: center;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.profile__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  width: 60vw;
}
.profile__img {
  justify-content: center;
  height: 140px;
  border: 2px solid #fcfcfc;
  border-radius: 10px;
}
.profile__email {
  font-size: 9px;
  margin-top: -2.5rem;
  color: #819796;
}
.profile__text {
  width: 20rem;
  font-size: 10px;
}

/*# sourceMappingURL=style.css.map */
