.top-nav {
  height: 6rem;
  background-color: $color-dark-gray;
  border-bottom: 1px solid $color-white;
  &__logo {
    height: 6rem;
  }
  & ul {
    display: flex;
    gap: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    margin: 0;
    height: 6rem;
    & li {
      display: inline-block;
      & a {
        color: white;
        line-height: 6rem;
        text-decoration: none;
        font-family: $font-body-bold;
        font-size: 15px;
        &:hover {
          text-decoration: underline;
        }
      }
      &:first-child {
        margin-right: auto;
      }
    }
  }
}
