.top-nav {
  height: 6rem;
  background-color: $color-dark-gray;
  border-bottom: 1px solid $color-white;
  &__logo {
    display: flex;
    align-items: center;
    height: 6rem;
    margin-left: 2.5rem;
  }
  & ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0rem;
    padding: 0;
    padding-right: 2.5rem;
    height: 6rem;
    margin: 0;
    & li {
      display: inline-block;
      margin-left: 10px;
      margin-right: 10px;
      & a {
        color: $color-white;
        line-height: 6rem;
        text-decoration: none;
        font-family: $font-body-bold;
        font-size: 15px;
        &:hover {
          text-decoration: underline;
          color: $color-orange;
        }
      }
    }
  }
}
.dash {
  padding: 0;
  margin: 0 !important;
}
rect {
  height: 2px;
  width: 8px;
  fill: $color-white;
}

// makes active nav link orange
.nav-link.active {
  color: $color-orange;
}

// makes topic nav link green when active
.nav-link-green.active {
  color: $color-green;
}

// makes topic nav link appear green on hover
#green {
  &:hover {
    color: $color-green;
  }
}

#logo {
  padding: 0;
  list-style-type: none;
  position: absolute;
}

// Hamburger Menu Styles
.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 1;
  & > li {
    margin: 0 1rem;
  }

  &-button::before,
  &-button::after {
    position: absolute;
    display: block;
    width: 30px;
    height: 3px;
    background-color: $color-white;
    transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
  }
  &-button {
    margin-bottom: 0;
    height: 2px;
    width: 30px;
    background-color: transparent;
    padding-top: 4px;
    padding-bottom: 6px;
    &-container {
      display: none;
      width: 30px;
      cursor: pointer;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &:hover {
      .menu-button::after {
        width: 22px;
      }
    }
    &::before {
      content: "";
      margin-top: -6px;
    }
    &::after {
      content: "";
      margin-top: 6px;
    }
  }
}

#menu-toggle {
  display: none;
  &:checked + .menu-button-container .menu-button {
    background: transparent;
  }
  &:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(45deg);
  }
  &:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-45deg);
  }
}

@media screen and (max-width: 725px) {
  .top-nav {
    ul li {
      display: none;
      & a {
        padding-right: 1.5rem;
      }
    }
    ul {
      gap: 0;
      padding: 0;
      position: absolute;
      top: 21rem;
      width: 100%;
      z-index: 2;
    }
    &__logo {
      margin-left: 1.5rem;
    }
  }

  svg {
    display: none;
  }

  // hamburger nav styles
  .menu {
    flex-direction: column;
    & > li {
      display: flex;
      justify-content: flex-end;
      width: 100%;
    }
    &-button-container {
      position: absolute;
      right: 0;
      margin-top: 2.5rem;
      padding-right: 1.5rem;
      display: flex;
    }
  }

  #menu-toggle {
    & ~ .menu li {
      transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
    }
    &:checked ~ .menu li {
      background-color: $color-dark-gray;
      display: flex;
      border-bottom: 1px solid $color-white;
      height: 6rem;
    }
  }

  #logo {
    display: flex;
  }

  #top {
    margin-top: 1px;
  }
}
