---
import BaseHead from "../components/BaseHead.astro";
import Layout from "../layouts/Layout.astro";
import TopNav from "../components/TopNav.astro";
import Footer from "../components/Footer.astro";
import Card from "../components/Card.astro";
---

<head>
  <BaseHead />
</head>

<Layout title="Topics of LexFG">
  <main>
    <TopNav />
    <div class="team">
      <h1 class="team__title">Meet the Team</h1>
      <div class="profile__container">
        <div class="profile">
          <img
            class="profile__img"
            src="/assets/images/Portraits13.jpeg"
            alt="Pixel Art Lawpanda Portrait"
          />
          <h3>LAWPANDA</h3>
          <p class="profile__email">lawpanda@example.com</p>
          <p class="profile__text">
            Lorem ipsum dolor sit amet. Aut incidunt voluptatem et voluptas
            eligendi et modi omnis qui voluptatem quod et accusantium beatae in.
          </p>
          <div class="profile__socials">
            <img
              src="/assets/images/LinksLogo3.png"
              class="profile__socials-img"
              alt="Pixel Art Twitter Icon"
            />
            <img
              src="/assets/images/LinksLogo1.png"
              class="profile__socials-img"
              alt="Pixel Art Discord Icon"
            />
            <img
              src="/assets/images/LinksLogo5.png"
              class="profile__socials-img"
              alt="Pixel Art Social Icon"
            />
          </div>
        </div>

        <div class="profile">
          <img
            class="profile__img"
            src="/assets/images/Portraits3.jpeg"
            alt="Pixel Art Omen Portrait"
          />
          <h3>OMEN</h3>
          <p class="profile__email">omen@example.com</p>
          <p class="profile__text">
            Lorem ipsum dolor sit amet. Aut incidunt voluptatem et voluptas
            eligendi et modi omnis qui voluptatem quod et accusantium beatae in.
          </p>
          <div class="profile__socials">
            <img
              src="/assets/images/LinksLogo3.png"
              class="profile__socials-img"
              alt="Pixel Art Twitter Icon"
            />
            <img
              src="/assets/images/LinksLogo1.png"
              class="profile__socials-img"
              alt="Pixel Art Discord Icon"
            />
            <img
              src="/assets/images/LinksLogo5.png"
              class="profile__socials-img"
              alt="Pixel Art Social Icon"
            />
          </div>
        </div>

        <div class="profile">
          <img
            class="profile__img"
            src="/assets/images/Portraits6.jpeg"
            alt="Pixel Art Lawyer Portrait"
          />
          <h3>TERTIUS</h3>
          <p class="profile__email">tertius@example.com</p>
          <p class="profile__text">
            Lorem ipsum dolor sit amet. Aut incidunt voluptatem et voluptas
            eligendi et modi omnis qui voluptatem quod et accusantium beatae in.
          </p>
          <div class="profile__socials">
            <img
              src="/assets/images/LinksLogo3.png"
              class="profile__socials-img"
              alt="Pixel Art Twitter Icon"
            />
            <img
              src="/assets/images/LinksLogo1.png"
              class="profile__socials-img"
              alt="Pixel Art Discord Icon"
            />
            <img
              src="/assets/images/LinksLogo5.png"
              class="profile__socials-img"
              alt="Pixel Art Social Icon"
            />
          </div>
        </div>

        <div class="profile">
          <img
            class="profile__img"
            src="/assets/images/Portraits5.jpeg"
            alt="Pixel Art Lawyer Portrait"
          />
          <h3>TERTIUS</h3>
          <p class="profile__email">tertius@example.com</p>
          <p class="profile__text">
            Lorem ipsum dolor sit amet. Aut incidunt voluptatem et voluptas
            eligendi et modi omnis qui voluptatem quod et accusantium beatae in.
          </p>
          <div class="profile__socials">
            <img
              src="/assets/images/LinksLogo3.png"
              class="profile__socials-img"
              alt="Pixel Art Twitter Icon"
            />
            <img
              src="/assets/images/LinksLogo1.png"
              class="profile__socials-img"
              alt="Pixel Art Discord Icon"
            />
            <img
              src="/assets/images/LinksLogo5.png"
              class="profile__socials-img"
              alt="Pixel Art Social Icon"
            />
          </div>
        </div>

        <div class="profile">
          <img
            class="profile__img"
            src="/assets/images/Portraits9.jpeg"
            alt="Pixel Art Lawyer Portrait"
          />
          <h3>NARCOLEPTIK CHICKEN</h3>
          <p class="profile__email">tertius@example.com</p>
          <p class="profile__text">
            Lorem ipsum dolor sit amet. Aut incidunt voluptatem et voluptas
            eligendi et modi omnis qui voluptatem quod et accusantium beatae in.
          </p>
          <div class="profile__socials">
            <img
              src="/assets/images/LinksLogo3.png"
              class="profile__socials-img"
              alt="Pixel Art Twitter Icon"
            />
            <img
              src="/assets/images/LinksLogo1.png"
              class="profile__socials-img"
              alt="Pixel Art Discord Icon"
            />
            <img
              src="/assets/images/LinksLogo5.png"
              class="profile__socials-img"
              alt="Pixel Art Social Icon"
            />
          </div>
        </div>

        <div class="profile">
          <img
            class="profile__img"
            src="/assets/images/Portraits10.jpeg"
            alt="Pixel Art Lawyer Portrait"
          />
          <h3>TERTIUS</h3>
          <p class="profile__email">tertius@example.com</p>
          <p class="profile__text">
            Lorem ipsum dolor sit amet. Aut incidunt voluptatem et voluptas
            eligendi et modi omnis qui voluptatem quod et accusantium beatae in.
          </p>
          <div class="profile__socials">
            <img
              src="/assets/images/LinksLogo3.png"
              class="profile__socials-img"
              alt="Pixel Art Twitter Icon"
            />
            <img
              src="/assets/images/LinksLogo1.png"
              class="profile__socials-img"
              alt="Pixel Art Discord Icon"
            />
            <img
              src="/assets/images/LinksLogo5.png"
              class="profile__socials-img"
              alt="Pixel Art Social Icon"
            />
          </div>
        </div>

        <div class="profile">
          <img
            class="profile__img"
            src="/assets/images/Portraits11.jpeg"
            alt="Pixel Art Lawyer Portrait"
          />
          <h3>TERTIUS</h3>
          <p class="profile__email">tertius@example.com</p>
          <p class="profile__text">
            Lorem ipsum dolor sit amet. Aut incidunt voluptatem et voluptas
            eligendi et modi omnis qui voluptatem quod et accusantium beatae in.
          </p>
          <div class="profile__socials">
            <img
              src="/assets/images/LinksLogo3.png"
              class="profile__socials-img"
              alt="Pixel Art Twitter Icon"
            />
            <img
              src="/assets/images/LinksLogo1.png"
              class="profile__socials-img"
              alt="Pixel Art Discord Icon"
            />
            <img
              src="/assets/images/LinksLogo5.png"
              class="profile__socials-img"
              alt="Pixel Art Social Icon"
            />
          </div>
        </div>
      </div>
    </div>
    <Footer />
  </main>
</Layout>
