---
import BaseHead from "../components/BaseHead.astro";
import Layout from "../layouts/Layout.astro";
import TopNav from "../components/TopNav.astro";
import Card from "../components/Card.astro";
---

<head>
  <BaseHead />
</head>

<Layout title="Topics of LexFG">
  <main>
    <TopNav />
    <div class=""></div>
  </main>
</Layout>
