---
import BaseHead from "../components/BaseHead.astro";
import Layout from "../layouts/Layout.astro";
import TopNav from "../components/TopNav.astro";
import Card from "../components/Card.astro";
---

<html lang="en">
  <head>
    <BaseHead />
  </head>

  <Layout title="Topics of LexFG">
    <main>
      <TopNav />
      <div class="blockchain">
        <div class="blockchain__content">
          <h1 class="title-green">Blockchain & Crypto</h1>
          <p class="blockchain__text">
            LexFG members are entrenched in the space and include founding
            members of LexDAO, BanklessDAO's legal guild, KaliDAO, CVRIA, and
            have represented some of the most influential and recognized
            communities in the space. We have a <span class="feature-text-green"
              >understanding of blockchain technology</span
            > and its transformative impact on the global economy and society as
            a whole. We can help developers, DAOs, and startups <span
              class="feature-text-green">proactively plan and avoid issues</span
            > that have arisen in the past. Our capabilities include advising on
            topics such as:
          </p>
          <ul class="list">
            <li>Decentralized Finance</li>
            <li>Decentralized Autonomous Organizations</li>
            <li>Non-Fungible Tokens</li>
            <li>Token Funding, Issuance, and Sale</li>
            <li>Smart Contract Oracles and Auditing</li>
            <li>Crypto Payments</li>
            <li>Data Security</li>
            <li>User Privacy</li>
            <li>Data Storage</li>
            <li>
              Intellectual Property, Copyrights, Licensing, and Trademarks
            </li>
          </ul>
        </div>
        <div class="blockchain__content-right">
          <img
            class="blockchain__img"
            src="/assets/images/BlockchainGreen.gif"
          />
        </div>
      </div>

      <div class="business">
        <div class="business__top">
          <h1 class="title-green">Business Law & Litigation</h1>
          <ul>
            <li>B2B and B2C Offensive and Defensive Commercial Litigation</li>
            <li>Partnership, Shareholder, and DAO Disputes</li>
            <li>Insurance Coverage Disputes</li>
            <li>Incorporation, Funding, Mergers, and Acquisitions</li>
            <li>Entity Valuation</li>
          </ul>
        </div>

        <img
          class="business__top-img"
          src="/assets/images/Formationupscaled.png"
        />

        <div class="business__bottom">
          <h1 class="title-green">Formation & Governance</h1>
          <ul>
            <li>Legal Entity Choice and Formation</li>
            <li>Governance and Internal Document Drafting</li>
            <li>
              SAFE, SAFT, Token Warrants and Side Letters, Convertible Notes
            </li>
            <li>B2B and B2C Contracting and Licensing</li>
            <li>Mergers and Acquisitions and Investor Due Diligence</li>
            <li>Contract and Transactional Due Diligence and Negotiation</li>
            <li>
              Employment and Contractor Agreements, Non-Competes,<br /> Non-Disclosure
              Agreements, Etc.
            </li>
          </ul>
        </div>
        <img
          class="business__top-img"
          src="/assets/images/Formationupscaled.png"
        />
      </div>

      <div class="jurisdiction">
        <div class="jurisdiction__card">
          <h3>LawPanda :</h3>
          <ul>
            <li>Maryland</li>
            <li>District of Columbia</li>
            <li>Various Federal District Courts</li>
          </ul>
        </div>
        <div class="jurisdiction__card">
          <h3>Omen :</h3>
          <ul>
            <li>Maryland</li>
            <li>District of Columbia</li>
            <li>Various Federal District Courts</li>
          </ul>
        </div>
        <div class="jurisdiction__card">
          <h3>Tertius :</h3>
          <ul>
            <li>Maryland</li>
            <li>District of Columbia</li>
            <li>Various Federal District Courts</li>
          </ul>
        </div>
        <div class="jurisdiction__card">
          <h3>Spanky :</h3>
          <ul>
            <li>Maryland</li>
            <li>District of Columbia</li>
            <li>Various Federal District Courts</li>
          </ul>
        </div>
        <div class="jurisdiction__card">
          <h3>Moss :</h3>
          <ul>
            <li>Maryland</li>
            <li>District of Columbia</li>
            <li>Various Federal District Courts</li>
          </ul>
        </div>
        <div class="jurisdiction__card">
          <h3>Narcoleptik Chicken :</h3>
          <ul>
            <li>Maryland</li>
            <li>District of Columbia</li>
            <li>Various Federal District Courts</li>
          </ul>
        </div>
      </div>
    </main>
  </Layout>
</html>
