---
---

<nav class="top-nav">
  <ul>
    <li>
      <a href="/"
        ><img class="top-nav__logo" src="/assets/images/LexFG_logo.png" /></a
      >
    </li>
    <li><a href="/">Overview</a></li>
    <li><a href="/topics/">Topics</a></li>
    <li><a href="/team/">Team</a></li>
  </ul>
</nav>

<style></style>
