---
---

<nav class="top-nav">
  <input id="menu-toggle" type="checkbox" />
  <label class="menu-button-container" for="menu-toggle">
    <div class="menu-button"></div>
  </label>
  <ul id="logo-ul">
    <li id="logo">
      <a href="/"
        ><img
          class="top-nav__logo"
          src="/assets/images/LexFG_logo.png"
          alt="LexFG Logo"
        /></a
      >
    </li>
  </ul>
  <ul class="menu">
    <li id="top">
      <a
        class:list={["nav-link", { active: Astro.url.pathname === "/" }]}
        href="/">OVERVIEW</a
      >
    </li>
    <svg width="8" height="2">
      <rect></rect>
    </svg>
    <li>
      <a
        id="green"
        class:list={[
          "nav-link-green",
          { active: Astro.url.pathname === "/topics/" },
        ]}
        href="/topics/">TOPICS</a
      >
    </li>
    <svg width="8" height="2">
      <rect></rect>
    </svg>
    <li>
      <a
        class:list={["nav-link", { active: Astro.url.pathname === "/team/" }]}
        href="/team/">TEAM</a
      >
    </li>
  </ul>
</nav>
